@import "tailwindcss";

:root {
	--primary: #f9f9f9;
	--background: #1f1f1f;
	--foreground: #262626;

	--accent: #de483a;
	--accent-dark: color-mix(in srgb, var(--accent) 50%, var(--background));

	--large-font-size: clamp(1rem, 4vw, 1.5rem);
	--default-font-size: clamp(0.5rem, 3vw, 1rem)
}

h1 {
	font-size: var(--large-font-size);
	margin: 1rem
}

p {
	font-size: var(--default-font-size);
}

strong {
	font-size: var(--default-font-size);
}

select {
	color: var(--accent);
}

span {
	font-size: var(--default-font-size);
}

body {
	background: var(--background);
}

button {
	cursor: pointer;
	transition: background-color 0.2s ease;
	font-size: var(--default-font-size);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary);
}

.container {
	display: flex;
	background: var(--foreground);
	color: var(--primary);
	border-radius: 1rem;
	padding: 0.7rem;
}

.foreground-button:hover {
	background-color: color-mix(in srgb, var(--foreground) 90%, white);
}

